<nav>
    <ul class="nav flex-column p-2">
        <li class="nav-item">
            <NavLink href="/" class="nav-link" Match="NavLinkMatch.All">Dashboard</NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="/testruns" class="nav-link">Test Runs</NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="/api-console" class="nav-link">API Console</NavLink>
        </li>
    </ul>
</nav>

<style>
    .nav-link {
        color: white;
        padding: 8px;
        display: block;
        text-decoration: none;
    }

        .nav-link.active {
            background-color: #34495e;
            font-weight: bold;
        }

        .nav-link:hover {
            background-color: #3d566e;
        }
</style>